.hidden {
  display: none;
}

#cookie-banner {
  background: #fff;
  color: #000;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 -4px 1px -1px rgb(255 255 255);
}

#cookie-banner p {
  margin: 0 0 0.75rem;
}

#cookie-banner a {
  color: #942605;
  text-decoration: underline;
}

.cookie-banner__button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 8px;
  transition: ease 0.3s;
  cursor: pointer;
}

.cookie-banner__button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cookie-banner__button--accept {
  background: rgb(52 195 129);
  color: #000;
}

.cookie-banner__button--necessary {
  background: #dededecf;
  color: #000;
}