<section class="cookie-banner-hero">
  <div class="cookie-banner-hero__content">
    <h1><%= heroCopy.headline %></h1>
    <p><%= heroCopy.subheadline %></p>
    <a class="cookie-banner-hero__cta" href="<%= heroCopy.ctaLink %>"><%= heroCopy.ctaLabel %></a>
  </div>
</section>