<article class="page checkout-page">
  <section class="section checkout">
    <div class="section__inner checkout__inner">
      <h1>Zahlung abgebrochen</h1>
      <p>Die Zahlung wurde abgebrochen. Du kannst den Kauf jederzeit erneut starten.</p>
      <a class="checkout__link" href="/tickets-de">Zurück zu den Tickets</a>
    </div>
  </section>
</article>