<article class="page checkout-page">
  <section class="section checkout">
    <div class="section__inner checkout__inner">
      <h1>Zahlung erfolgreich</h1>
      <p>Vielen Dank! Deine Tickets werden gerade erstellt. Du erhältst in Kürze eine E-Mail mit deinen Tickets und/oder Zugangscodes.</p>
      <a class="checkout__link" href="/online-access">Online-Zugang freischalten</a>
    </div>
  </section>
</article>