<article class="page checkout-page">
  <section class="section checkout">
    <div class="section__inner checkout__inner">
      <h1>Spende erfolgreich</h1>
      <p>Vielen Dank f체r deine Unterst체tzung! Du erh채ltst in K체rze eine E-Mail mit deiner Spendenquittung.</p>
      <a class="checkout__link" href="/">Zur Startseite</a>
    </div>
  </section>
</article>