<article class="page checkout-page">
  <section class="section checkout">
    <div class="section__inner checkout__inner">
      <h1>Spende abgebrochen</h1>
      <p>Die Zahlung wurde abgebrochen. Du kannst es jederzeit erneut versuchen.</p>
      <a class="checkout__link" href="/">Zur Startseite</a>
    </div>
  </section>
</article>