<section class="festival-gallery">
  <div class="festival-gallery__header">
    <% if (galleryBlock?.headline) { %>
      <h1><%= galleryBlock.headline %></h1>
    <% } %>
    <% if (galleryBlock?.text) { %>
      <p><%= galleryBlock.text %></p>
    <% } %>
  </div>

  <%- include('../components/gallery', { block: galleryBlock, page, galleryImages, galleryVideos }) %>
</section>