<section class="newsletter-unsubscribe">
  <div class="newsletter-unsubscribe__card">
    <h1>Newsletter abmelden</h1>

    <% if (status === 'success') { %>
      <div class="newsletter-unsubscribe__alert newsletter-unsubscribe__alert--success">
        Deine Abmeldung wurde gespeichert.
      </div>
    <% } else if (status === 'not-found') { %>
      <div class="newsletter-unsubscribe__alert newsletter-unsubscribe__alert--error">
        Der Abmeldecode wurde nicht gefunden. Bitte prüfe den Link in deiner E-Mail.
      </div>
    <% } else if (status === 'invalid') { %>
      <div class="newsletter-unsubscribe__alert newsletter-unsubscribe__alert--error">
        Bitte gib einen gültigen Abmeldecode an.
      </div>
    <% } %>

    <% if (!subscription) { %>
      <p>Leider konnten wir keine Newsletter-Anmeldung zu diesem Code finden.</p>
    <% } else { %>
      <p>Wähle aus, welche Newsletter du abbestellen möchtest.</p>
      <form method="post" class="newsletter-unsubscribe__form">
        <fieldset class="newsletter-unsubscribe__fieldset">
          <legend class="sr-only">Abmeldeoptionen</legend>
          <label class="newsletter-unsubscribe__option">
            <input type="radio" name="unsubscribeScope" value="all" <%= selectedScope === 'all' ? 'checked' : '' %>>
            Alles abmelden
          </label>
          <label class="newsletter-unsubscribe__option">
            <input type="radio" name="unsubscribeScope" value="news" <%= selectedScope === 'news' ? 'checked' : '' %>>
            News Nachrichten abmelden
          </label>
          <label class="newsletter-unsubscribe__option">
            <input type="radio" name="unsubscribeScope" value="video" <%= selectedScope === 'video' ? 'checked' : '' %>>
            Video News abmelden
          </label>
        </fieldset>
        <button type="submit" class="newsletter-unsubscribe__button">Abmelden</button>
      </form>
      <p class="newsletter-unsubscribe__note">
        E-Mail: <strong><%= subscription.email %></strong>
      </p>
      <p class="newsletter-unsubscribe__note">
        Aktive Optionen:
        <% if (subscription.wants_news && subscription.wants_video) { %>
          News &amp; Video
        <% } else if (subscription.wants_news) { %>
          News
        <% } else if (subscription.wants_video) { %>
          Video-News
        <% } else { %>
          Keine
        <% } %>
      </p>
    <% } %>
  </div>
</section>